/* feuille de style RESERVIA */

* {
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
}
i:hover{
    transform: scale(1.2);
}

img{
    transition: 0.5s all ease-in-out;
}
.heberg-item:hover img{
    transform: scale(1.2);
}
.right-text:hover img{
    transform: scale(1.2);
}

.img-size{
    max-width: 100px;
    margin: 1rem;
}
.register{
    position: relative;
     bottom: 3rem;
    left: 95%;
    color: #0065fc;
    font-weight: 800;
    border: none;
}

.container-nav{
    display: flex;
    border-bottom: solid #f2f2f2;
}

 nav{
    display: flex;
    margin-top: 130px;

}
ul {
    display: flex;
    list-style: none;
    margin-bottom: 2rem;
    
}
.not-active{
    position: absolute;
    left: 50px;
    padding-bottom: 11px;
}

.active-link a{
    position: absolute;
    right: 50px;
    padding-bottom: 11px;
}

li a{
    text-decoration: none;
    color: black;
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
}
.margin-h1 ,.p-section{
    margin: 1rem;
}
.button-none{
    visibility: hidden;
    font-family: "Raleway", sans-serif;
}

form > button {
    color: white;
    background-color: #0065FC;
    font-weight: 600;
    width: 45px;
    
}
.button-search{
    height: 2.5rem;
    border-style: none;
    border-radius: 7px;
    visibility: visible;
}
 button a{
    text-decoration: none;
    color: white;
}
form input {
    border: none;
    height: 3rem;
    padding: 24px;
    width: 247px;
}
.search-bar {
    display: flex;
    margin: 1rem 0;
    }
  .search-p{
      margin-top: 10px;
  }
  .search-bar i{
    color: black;
}
.button-search i {
    color: white;
}
  ::placeholder{
      color: black;
      font-weight: 600;
      font-size: 1.2rem;
      font-family: "Raleway", sans-serif;
  }
  .icone-left {
    border-radius: 1rem 0 0 1rem;
    background: #f2f2f2;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    margin: 10px;
}
.filter-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.filter-button{
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: 0 2rem 2rem 0;
    border-color: #e0e0e0;
    padding: 3px;
    height: 38px;
    margin: 12px;
    font-weight: 700;

}
.filter-button:hover{
    background-color: rgb(202, 230, 231);
}
.filter-button i{
    border-radius: 2.6rem ;
    background: #deebff;
    position: relative;
    right: 1rem;
    height: 42px;
    width: 2.6rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #0065FC;
   
}
.filter-button a{
    text-decoration: none;
    color: black;
}
.filter-text{
    display: flex;
    margin-top: 3rem;
}
.filter-text p{
    position: relative;
    left: 30px;
    bottom: 35px;
}
.filter-text i{

    display: flex;
    border-radius: 15px;
    border-color: #deebff;
    border-style: solid;
    width: 24px;
    justify-content: center;
    color: #0065FC;
}

 .filter-title{
     font-size: 1.2rem;
     margin: 10px;
 }
 .title-container-1{
     margin: 10px;
 }
 .img-size-1{
    width: 100%;
    padding: 3px;
    height: 160px;
    object-fit: cover;
    border-radius: 37px 37px 0 0;
}
.star-grey{
    color: #d3d3d3e7;
}
.star-blue{
    color: #0065fc;
}
article p,h4{
    margin-left: 17px;
    padding: 3px;
    
}
article{
    border: solid white;
}
.margin-top-p{
    margin: 1rem;
}
.icone-aside{
    display: flex;
    justify-content: space-evenly;
}
.img-size-populaire {
    height: 140px;
    border-radius: 13% 0 0 13%;
    object-fit: cover;
    width: 120px;
    border-color: white;
    border-width: 5px;
    
}
aside{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;

}
.title-aside{
    margin: 20px;
}
.icone-chart{
    display: flex;
    position: relative;
    top: 20px;
}
.right-text{
    display: flex;
    width: 95%;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    border-width: 5px;
}
.right-text i{
    margin-top: 40px;
}
.margin-top-star i{
    margin-top: 60px;
}
.text-center{
    margin: 10px;
    background-color: white;
    border-radius: 25px;
}
.container-1{
    display: flex;
    flex-direction: column-reverse;
}
.title-activites{
    margin: 10px;
}
.container-2{
    display: contents;
}
.img-fort-pomegues, .img-vieux-port{
    margin: 5px;
    border-radius: 25px;
}
.img-fort-pomegues:hover img{
    transform: scale(1.2);
}
.img-vieux-port:hover img{
    transform: scale(1.2);
}
.img-notre-dame-longchamps:hover img{
    transform: scale(1.2);
}
.img-parc-national:hover img{
    transform: scale(1.2);
}
.img-pomegues-frioul:hover img{
    transform: scale(1.2);
}
.img-size-3, .img-size-1, .img-size-2, .img-size-4{
    width: 100%;
    padding: 5px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    height: 160px;
}
.footer-1,.footer-2,.footer-3{
    padding: 15px;
}
.container-3{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: blue;
}

 @media screen and (min-width: 768px) and (max-width: 1279px){

}

@media screen and (min-width: 1280px){

    * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
    body{
        width: 1280px;
        margin:auto;
    }
    .container-nav{
        height: 100px;
        border: none;
    }
    form input{
        width: 210px;
    }
    .button-search{
        visibility: hidden;
    }
    .button-none{
        visibility: visible;
        width: 100px;
        border-radius: 0 7px 7px 0;
        height: 2.5rem;
        border: none;
    }
    .filter-container{
        width: 67%;
    }
    .filter-text{
        margin-top: 1rem;
        display: flex;
    }
    .filter-text i{
        position: absolute;
    }
    .filter-text p{
        margin-left: 30px;
        position: initial;
    }
    .filter-button{
        margin-left: 45px;
    }
    .p-section{
        margin: 1rem;
    }
    li{
        position: relative;
        left: 49rem;
        bottom: 6.5rem;
    }
    .margin-h1{
        margin: auto;
    }
    .not-active, .active-link{
        position: relative;
        left: 58rem;
        border: none;
    }
     .not-active a:hover{
        border-top: solid blue 5px;
        padding-top: 20px;
    }
    .active-link a:hover{
        border-top: solid blue 5px;
        padding-top: 20px;
    }
    .register{
        left: 485px;
        bottom: 52px;
    }
    .filter-title {
        margin: 1rem;
    
    }
    .active-link a{
        border: none;
    }
    .container-1{
        display: flex;
        background-color: white;
        flex-direction: unset;
        justify-content: space-between;
    }
    .img-hebergements{
        width: 68%;
        display: flex;
        background-color: #f2f2f2;
        flex-direction: column;
        border-radius: 1.8rem;
        padding: 20px;
    }
    .img-hebergements-content
    {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;

    }
    aside{
        border-radius: 1.8rem;
    }
    .heberg-item 
    {
        width:250px;
    }
    .popular 
    {
        width:350px;
    }
.img-size-2{
    height: 366px;
}
.container-2{
    display: flex;
    margin: 10px;
}
.img-pomegues-frioul{
    width: 25%;
    margin: 10px;
}

.img-notre-dame-longchamps,.img-pomegues-frioul{
    width: 25%;
    margin: 10px;
}

.img-parc-national,.img-vieux-port{
    width: 25%;
}
.title-activites{
    margin-top: 50px;
}
.container-3{
    display: flex;
    background-color: #f2f2f2;
    flex-direction: row;
}
.footer-1{
    width: 33%;
    margin: 10px;
}
.footer-2{
    width: 33%;
}
.footer-3{
    width: 33%;
}

}